* {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body { 
	padding: 0;
	color: white;
	font-family: 'Khand', sans-serif;
	font-size: 16px;
    background-color: #08031a;
    background: url("../images/maxresdefault.jpg") repeat-y;
    background-position: center;
    background-size: cover;
    animation: slide 60s linear infinite;
}

@keyframes slide{
    from { background-position: 0 0; }
    to { background-position: 0 -1670px; }
  }

.hidden { display: none; }

.control {
    display: inline;
    padding: 5em;
}

.control-items {
    width: 4%;
    margin: 3em 1em 0 0 ;
}

.jet-area {
    width: 20vw;
    margin: 9em auto;
}


.icons-area {
    width: 8vw;
    margin: 0 auto;

}
