* {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body { 
	padding: 0;
	color: white;
	font-family: 'Khand', sans-serif;
	font-size: 16px;
    background-color: #08031a;
    background: url("../images/maxresdefault.jpg") repeat-y;
    background-position: center;
    background-size: cover;
    animation: slide 40s linear infinite;
}

@keyframes slide{
    from { background-position: 0 0; }
    to { background-position: 0 1670px; }
  }

.hidden { display: none; }

.control {
    display: inline;
    padding: 5em;
}

.control-items {
    width: 4%;
    margin: 3em 1em 0 0 ;
}

.jet-area {
    width: 20vw;
    margin: 9em auto 0;
}

.icons-area {
    display: flex;
    position: absolute;
    left: 27.3%;
    bottom: 4%;
}

.icons-area img {
    margin: 0 0.5vw;
    width: 8vw;
}

.icons-area img:hover {
    opacity: 80%;
}


.fire {
    margin: -80px auto 0 ;
    width: 1000px;
    height: 500px;
    background-image: url(../images/jet-fire-01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    animation: fire 0.8s steps(9) infinite;
}

@keyframes fire{
    from { background-position: 0 0; }
    to { background-position: 0 -4500px; }
  }
