* {
    border: none;
    padding: 0;
    margin: 0;

    box-sizing: border-box;
}

body { 
	padding: 0;
	color: white;
	font-family: 'Khand', sans-serif;
	font-size: 16px;
    background-color: #08031a;
    background: url("../images/maxresdefault.jpg") repeat-y;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.move-bg {
    animation: slide 40s linear infinite;
}

@keyframes slide{
    from { background-position: 0 0; }
    to { background-position: 0 1670px; }
  }

.hidden { display: none; }

.control {
    display: inline;
    padding: 5em;
}

.control-items {
    width: 4%;
    margin: 3em 1em 0 0 ;
}

.control-items:hover {
    opacity: 0.8;
}

#play-but {position: relative; z-index: +5;}

.lightbox {
    position: absolute;
    left: 0;
    top: 0;
    z-index: +1;
  
    width: 100%;
    height: 100%;  
    background-color: rgba(0, 0, 0, 0.732);
  }

.intro-text {
    border: white 2px solid;
    width: 40vw;
    height: 13vw;
    position: absolute;
    right: 5vw;
    top: 10vh;
    text-align: center;
    font-weight: 100;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding: 2vw;
    font-size: 1vw;
}

.intro-text span{ font-size: 2vw; font-weight: 800; text-transform: uppercase;}





.planets img{
    z-index: -1;
    position: absolute;
}

#purple {
    width: 50vw;
    top: -100vh;
    left: -20vw;
}

#earth {
    width: 20vw;
    top: -60vh;
    left: 80vw;
}


.planetAn {
    animation: movingPlanet 15s infinite forwards linear;
}


.planetAnLong {
    animation: movingPlanet 35s infinite forwards linear;
}

@keyframes movingPlanet {
    from { top: -110vh;}
    to {top: 110vh;}
}





.jet-area {
    width: 27vw;
    margin: 14vw auto 0;
}

.icons-area {
    display: flex;
    position: absolute;
    left: 27.3%;
    bottom: 4%;
}

.icons-area img {
    margin: 0 0.5vw;
    width: 8vw;
}

.icons-area img:hover {
    opacity: 80%;
}


.fire {
    margin: -10vw auto 0 ;
    width: 60vw;
    height: 30vw;
    background-image: url(../images/jet-fire-01.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
    animation: fire 0.8s steps(9) infinite;
}

@keyframes fire{
    from { background-position: 0 0; }
    to { background-position: 0 -270vw; }
  }


